.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.board_row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s, color 0.2s;
}

/*Multiplayer Page*/
.game-status h2 {
    font-size: 48px;
    font-weight: 800;
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
}

.game-status .winner-message {
    color: #e63946; 
    background: #fde3e6;
    border: 3px solid #e63946;
}

.game-status .draw-message {
    color: #457b9d; 
    background: #e0f2f7;
    border: 3px solid #457b9d;
}