.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.board_row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s, color 0.2s;
}

/* MULTIPLAYER PAGE */
.game-status h2 {
    font-size: 48px;
    font-weight: 800;
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
}

.game-status .winner-message {
    color: #e63946; 
    background: #fde3e6;
    border: 3px solid #e63946;
}

.game-status .draw-message {
    color: #457b9d; 
    background: #e0f2f7;
    border: 3px solid #457b9d;
}

/* HEADER  */
.game-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee; 
  padding-bottom: 10px;
}

.game-header h1 {
  margin: 0;
  font-size: 24px;
}

/* LOGOUT BTN */
.logout-btn {
  background-color: #a52d2d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: background-color 0.2s, transform 0.1s;
  font-size: 14px;
}

.logout-btn:hover {
  background-color: #cc0000;
}

.logout-btn:active {
  transform: scale(0.95);
}

/* NOTIF (TOAST) */
.logout-notification {
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #a52d2d;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 10px;
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top:120px;
    opacity: 1;
  }
}

/* GAME CONTROLS */
.game-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin: 15px 0 20px 0;
}

.control-btn {
  min-width: 140px;
}


.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.restart-btn,
.exit-btn {
  width: 160px;
}

